/* General Body and Canvas Reset */
body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #0A0B10;
    margin: 0;
    padding: 0;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

/* Layering the Canvases */
#ecosystem-canvas {
    z-index: 0;
}

#matrix-canvas {
    z-index: 1;
}
